@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* <===== css reset =====> */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* <===== common styling ====> */
body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
/* <==== Layout and styling ====> */
.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 100px auto;
    background-color: hsl(212, 45%, 89%);
    padding: 1.3rem 0 1.3rem 0;
    border-radius: 10px;
}
.wrapper {
    background-color: white;
    height: 380px;
    width: 240px;
    border-radius: 10px;
    margin: 100px auto;
}
.code {
    padding: 1.2rem;
}
@media(max-width: 375px) {
    .wrapper {
        width: 100%;
    }
}
@media(max-width: 1440px) {
    .wrapper {
        height: 380px;
        width: 240px;
    }
}
.scan__img_code {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 0;
}
p {
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    margin-top: 1.1rem;
    text-align: center;
}
h3 {
    margin-top: 1rem;
    color: hsl(218, 44%, 22%);
}

